/* Write styles here */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
}

nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .nav-items a {
    margin: 0 1rem;
    cursor: pointer;
}

.main {
    display: flex;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

p {
    margin-top: 0.5rem;
}

.right {
    height: 80vh;
    flex-basis: 30%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    overflow: auto;
    border-radius: 1rem;
}

.btn {
    width: 120px;
    font-size: 2rem;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
    padding: 1rem;
    margin-top: 2rem;
}

.left {
    flex-basis: 70%;
    display: flex;
    padding: 1rem 1rem;
    gap: 1rem;
}

.item {
    width: 30%;
    flex-basis: 18%;
    text-align: center;
    height: 24.5rem;
}

.item img {
    max-width: 100%;
    height: 250px;
}

.item .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item .info {
    padding: 1rem;
}

.item button {
    width: 100%;
    border-radius: none;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}